<html>
<head>
	<title>Homecooked</title>
	<meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link href="/css/style.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	

</head>
<body>
	<style> body {font-family: "Lato", sans-serif;} </style>
	<div class="container">

		<div class="help">
			<a href="/help">
				<button class="btnhelp"><i class="far fa-question-circle"></i></button>
			</a>
			<a href="/message">
				<button class="btnmsg"><i class="far fa-envelope"></i></button>
			</a>
		</div>

		{{#each displaynames}}
		<div class="home">
			<h1 class="welcome">Welcome, {{displayname}}</h1>
		</div>
		{{/each}}

		<div class="options">
			<a href="/recipe" style="text-decoration:none;">
				<button class="block">My Recipes</button>
			</a>
			<a href="/favorites" style="text-decoration:none;">
				<button class="block">Favorites</button>
			</a>
			<a href="/share" style="text-decoration:none;">
				<button class="block">Share</button>
			</a>

		<div class="text">
      		<p1 style="font-size:16px; color:gray;">You recently made...</p1>
		</div>

	<div class= "gallery" style="padding:10px;">
		<div class="row">
			<div class="column">
				<a href="/recipecard">
				<img src="https://millersfoodmarket.com/wp-content/uploads/2020/06/Turmeric-Fried-Rice-LEAD-7-200x300-2.jpg" alt="Recents" style="width:100%" border="0">
				</a>
			</div>
			<div class="column">
				<a href="/recipecard">
				<img src="https://realfoodrealdeals.com/wp-content/uploads/2014/10/chicken-chili-recipe-rfrd-1-200x300.jpg" alt="Recents" style="width:100%" border="0">
				</a>
			</div>
			<div class="column">
				<a href="/recipecard">
				<img src="https://bakerbynature.com/wp-content/uploads/2013/12/IMG_5986-2-200x300.jpg" alt="Recents" style="width:100%" border="0">
				</a>
			</div>
		</div>
	</div>

 		<div class="navbar">
			<a href="/homepage">
				<button class="btnhome"><i class="fas fa-home"></i></button>	
			</a>
			<a href="/profile">
				<button class="btnprofile"><i class="far fa-user"></i></button>	
			</a>
			<a href="/upload">
				<button class="btnadd"><i class="far fa-plus-square"></i></button>	
			</a>
		</div>
		
</body>
</html>
