<html>
<head>
	<title>Homecooked Login Page</title>
	<meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link href="/css/login.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js%22%3E"></script>

</head>
<body>
<style> body {background-color: #ff914d;font-family: "Lato", sans-serif;} </style>

<div class="container">
	<div class="header" style="margin-top:90px;"></div>
	<form action="/homepage" style="max-width:500px;margin:auto;">
		<h2></h2>
		<div class="logo">
			<img src = "/img/homecooked Logo.png" class="respond" width="500px"	height="500px" alt="logo">
		</div>

		<div class="input-container">
			<i class="fa fa-user icon"></i>
			<input class="input-field" type="text" placeholder="Username" name="usrnm">
		</div>
		
		<div class="input-container">
			<i class="fa fa-key icon"></i>
			<input class="input-field" type="password" placeholder="Password" name="psw">
		</div>

		<button type="login" class="btn" style="margin-top:10px; font-size: 17x; padding: 13px;">Login</button>
	</form>
</div>
</body>
</html>
