<html>
<head>
	<title>Homecooked</title>
	<meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
	<link href="/css/style.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">

		<div class="help">
			<a href="http://www.google.com">
				<button class="btnhelp"><i class="far fa-question-circle"></i></button>
			</a>
			<a href="http://www.google.com">
				<button class="btnmsg"><i class="far fa-envelope"></i></button>
			</a>
		</div>

		<div class="home">
			<h1 style="font-size:40px;color:gray;text-align:center;padding-top:80px">Home</h1>
		</div>

		<div class="options">
			<a href="/views/recipe.handlebars">
				<button class="block">My Recipes</button>
			</a>
			<a href="/views/recipe.handlebars">
				<button class="block">Saved Recipes</button>
			</a>
			<a href="/views/recipe.handlebars">
				<button class="block">Share</button>
			</a>

		<div class="text">
      		<p1>You recently made...</p1>
		</div>

<div class="container">

  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
      <img src="https://picsum.photos/200/300" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
      <img src="https://picsum.photos/200/300" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <img src="https://picsum.photos/200/300" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
      <img src="https://picsum.photos/200/300" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
      <img src="https://picsum.photos/200/300" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
      <img src="https://picsum.photos/200/300" style="width:100%">
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="https://picsum.photos/200/300" style="width:100%" onclick="currentSlide(1)" alt="The Woods">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://picsum.photos/200/300" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://picsum.photos/200/300" style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://picsum.photos/200/300" style="width:100%" onclick="currentSlide(4)" alt="Northern Lights">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://picsum.photos/200/300" style="width:100%" onclick="currentSlide(5)" alt="Nature and sunrise">
    </div>
    <div class="column">
      <img class="demo cursor" src="https://picsum.photos/200/300" style="width:100%" onclick="currentSlide(6)" alt="Snowy Mountains">
    </div>
  </div>
</div>

<script>

	var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>

 		<div class="navbar">
			<a href="http://www.google.com">
				<button class="btnhome"><i class="fas fa-home"></i></button>	
			</a>
		</div>
		
</body>
</html>
