<html>
<head>
	<title>Homecooked</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
	<link href="/css/style.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">

		<div class="help">
			<a href="http://www.google.com">
				<button class="btnhelp"><i class="far fa-question-circle"></i></button>
			</a>
			<a href="http://www.google.com">
				<button class="btnmsg"><i class="far fa-envelope"></i></button>
			</a>
		</div>

		<div class="home">
			<h1 style="font-size:40px;color:gray;text-align:center;padding-top:60px">Home</h1>
		</div>

		<div class="options">
			<a href="html/recipe.handlebars">
				<button class="btn myrecipes">My Recipes</button>
			</a>
		</div>
	</div>

</body>

</html>
