<html>
<head>
	<title>Homecooked Login Page</title>
	<meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link href="/css/login.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js%22%3E"></script>

</head></head>
<body>

<form action="/homepage" style="max-width:500px;margin:auto">
  <h2>Homecooked Login</h2>
  <div class="input-container">
    <i class="far fa-user-circle"></i>
    <input class="input-field" type="text" placeholder="Username" name="usrnm">
  </div>
  
  <div class="input-container">
    <i class="fas fa-key"></i>
    <input class="input-field" type="password" placeholder="Password" name="psw">
  </div>

  <button type="submit" class="btn">Login</button>
</form>

</body>
</html>
