<html>
<head>
	<title>Homecooked</title>
	<meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">
	<link href="/css/style.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">

		<div class="help">
			<a href="http://www.google.com">
				<button class="btnhelp"><i class="far fa-question-circle"></i></button>
			</a>
			<a href="http://www.google.com">
				<button class="btnmsg"><i class="far fa-envelope"></i></button>
			</a>
		</div>

		<div class="home">
			<h1 style="font-size:40px;color:gray;text-align:center;padding-top:80px">Home</h1>
		</div>

		<div class="options">
			<a href="/views/recipe.handlebars">
				<button class="block">My Recipes</button>
			</a>
			<a href="/views/recipe.handlebars">
				<button class="block">Saved Recipes</button>
			</a>
			<a href="/views/recipe.handlebars">
				<button class="block">Share</button>
			</a>

		<div class="text">
      		<p1>You recently made...</p1>
		</div>

		<div class="row">
			<div class="column">
				<a href="/views/recipe.handlebars">
				<img src="https://millersfoodmarket.com/wp-content/uploads/2020/06/Turmeric-Fried-Rice-LEAD-7-200x300-2.jpg" alt="Recents" style="width:100%" border="0">
				</a>
			</div>
			<div class="column">
				<img src="https://realfoodrealdeals.com/wp-content/uploads/2014/10/chicken-chili-recipe-rfrd-1-200x300.jpg" alt="Recents" style="width:100%">
			</div>
			<div class="column">
				<img src="https://bakerbynature.com/wp-content/uploads/2013/12/IMG_5986-2-200x300.jpg" alt="Recents" style="width:100%">
			</div>
		</div>

 		<div class="navbar">
			<a href="http://www.google.com">
				<button class="btnhome"><i class="fas fa-home"></i></button>	
			</a>
			<a href="http://www.google.com">
				<button class="btnadd"><i class="far fa-plus-square"></i></button>	
			</a>
			<a href="http://www.google.com">
				<button class="btnprofile"><i class="far fa-user"></i></button>	
			</a>
		</div>
		
</body>
</html>
