<html>
<head>
	<title>Homecooked</title>
	<meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<link href="/css/instructions.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js%22%3E"></script>

</head>
<style>
* {box-sizing: border-box}
</style>
</head>
<body>
<div class="container">

    <button class="tablink" onclick="openPage('Ingredients', this, 'orange')">Ingredients</button>
    <button class="tablink" onclick="openPage('Steps', this, 'orange')" id="defaultOpen">Steps</button>

    <div id="Ingredients" class="tabcontent">
    <h3>Ingredients</h3>
    <ul class="ingred">
        <li>1 lb Ziti Pasta</li>
        <li>1 onion, chopped</li>
        <li>1 lb ground beef</li>
        <li>3 cups tomato sauce</li>
        <li>6 ounces mozzarella</li>
        <li>Salt to taste</li>
        <li>Pepper to taste</li>
        </ul>
    </div>

    <div id="Steps" class="tabcontent">
    <h3>Steps</h3>
    <p>Step 1. Bring a large pot of lightly salted water to a boil. Add ziti pasta, and cook until al dente, about 8 minutes; drain. </p>
    <p>Step 2. In a large skillet, brown onion and ground beef over medium heat. 
        Add spaghetti sauce, and simmer 15 minutes.</p>
    <p>Step 3. Layer as follows: 1/2 of the ziti, Provolone cheese, sour cream, 1/2 sauce mixture, 
        remaining ziti, mozzarella cheese and remaining sauce mixture. </p> 
    <p>Step 4. Bake for 30 minutes in the preheated oven, or until cheeses are melted.</p>
    </div>

    <script>
    function openPage(pageName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
    </script>
</div>

</body>
<footer class="bottom">
    <div class="navbar">
		<a href="/homepage">
			<button class="btnhome"><i class="fas fa-home"></i></button>	
		</a>
		<a href="/profile">
			<button class="btnprofile"><i class="far fa-user"></i></button>	
		</a>
		<a href="/upload">
			<button class="btnadd"><i class="far fa-plus-square"></i></button>	
		</a>
	</div>
</footer>
</html>