<html>
<head>
	<title>My Recipes</title>
  <meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
  <link href="/css/recipestyle.css" rel="stylesheet">
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js%22%3E"></script>
</head>
<body>

  <div class="container">
    <div class="container">
      <img src="https://picsum.photos/200" alt="Norway" style="width:100%;">
        <div class="text-block">
          <h4>Nature</h4>
          <p>What a beautiful sunrise</p>
        </div>
  </div>

  </div>
</body>
</html>