<html>
<head>
	<title>Recipe Card</title>
	<meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<link href="/css/recipecard.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js%22%3E"></script>

</head>
<!-- This is the page that allows users to look at a specific recipe card -->
<body>
<div class="container">

	<div class="profiletab">
		<img src="https://st.depositphotos.com/1779253/5140/v/600/depositphotos_51405259-stock-illustration-male-avatar-profile-picture-use.jpg" 
		alt="Avatar" class="avatar">
		<h1 style="font-size: 20px; float: left;">Molly W.</h1>
	</div>

	<div class="card">
		<div style="width: 100%; height: 400px; overflow: hidden; object-fit:cover">
		<img src="http://www.gimmesomeoven.com/wp-content/uploads/2018/11/Chicken-Alfredo-Baked-Ziti-Recipe-9.jpg" 
		alt="Meal" width="500" height="500">
		</div>
		<h1>Ziti Pasta</h1>
		<div class="additional">Additional info</div>
		<p>I learned this recipe from your grandma when I was younger. Make sure to add lots of 
			butter and garlic. Miss you and enjoy my recipe!
		</p>
		<p><button>Ingredients</button></p>
		<p><button>Steps</button></p>
	</div>
</div>
</body>
</html>
