<html>
<head>
	<title>My Recipes</title>
  <meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
  <link href="/css/recipestyle.css" rel="stylesheet">
  	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js%22%3E"></script>
</head>
<body>
  <div class="myrecipes">
    <h1>My Recipes</h1>
  </div>
  <div class="big_container">
    <div class="container">
      <a href="/temp">
      <img src="https://picsum.photos/200" alt="Recipe" style="width:100%; height:25%;">
        <div class="text-block">
          <h4>Ziti Pasta</h4>
          <p>Delicious tomato-based pasta</p>
        </div>
      </a>

      <a href="/temp">
      <img src="https://picsum.photos/200" alt="Recipe" style="width:100%; height:25%;">
        <div class="text-block">
          <h4>Ziti Pasta</h4>
          <p>Delicious tomato-based pasta</p>
        </div>
      </a>
  </div>

  </div>
</body>
</html>