<html>
<head>
	<title>Homecooked</title>
	<meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<link href="/css/recipecard.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js%22%3E"></script>

</head>
<body>
<div class="container">
    <p> This is the page that allows users to look at a specific recipe card</p>

	<div class="card">
		<img src="food.jpg" alt="Recipe card" style="width:100%">
		<h1>Ziti Pasta</h1>
			<p class="price">Servings and Price</p>
		<p>A delicious meal</p>
			<p><button>Steps</button></p>
	</div>

</div>
</body>
</html>
