<html>
<head>
	<title>My Recipes</title>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js%22%3E"></script>
</head>
<body>
Begin here (or replace this with any static code already written).
</body>
</html>