<html>
<head>
	<title>Homecooked Upload Page</title>
	<meta name="viewport" content="width=device-width, initial-scale = 0.86, maximum-scale=3.0, minimum-scale=0.86">
	<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<!-- add icon library -->
	<script src="https://kit.fontawesome.com/4a1064862d.js" crossorigin="anonymous"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery.js%22%3E"></script>

</head>
<body>
    <h1 style="float:left; padding: 30px;"> This will be the page that allows users upload their own recipe.</h1>
	  <div style="padding:40px;">
        <a href="/homepage">
            <button class="button1"><i class="fas fa-home"></i></button>	
        </a>
    </div>
</body>
</html>