/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: "Lato";
  }

  ul.ingred {
    list-style-type: circle;
    font-size: 20px;
  }
  
  /* Style tab links */
  .tablink {
    background-color: white;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 30px 18px;
    font-size: 20px;
    width: 50%;
  }
  
  .tablink:hover {
    background-color: gray;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    font-size: 20px;
    padding: 80px 20px;
    height: 100%;
  }
  
  #Ingredients {background-color: peachpuff;}
  #Steps {background-color: peachpuff;}

footer { margin:0px; }