/** This file is the Login Page (index) css */

.container {
    margin-top: 150px;
    padding: 15px;
    margin: 30px;
}

.respond {
  width: 98%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .icon {
    padding: 10px;
    background: peachpuff;
    color: black;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid black;
  }
  
  /* Set a style for the login button */
  .btn {
    background-color: peachpuff;
    border-radius: 10px;
    color: black;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 2;
  }