.myrecipes {
    padding:40px;
}

/* Container holding the image and the text */
.container {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    width: 300px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: peachpuff;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
  }