.myrecipes {
    padding:15px;
    margin-left: 20px;
    margin-top: 5px
}

.big_container {
    margin-left: 20px;
    margin-right: 20px;
}

body { margin:0px; }

.button {
  background-color: peachpuff;
  border-radius: 30px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  size: 11x;
  margin: 4px 2px;
}

.addmore{
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 150px;
  float: right;
}

.navbar {
  background-color: orange;
  width: 100%;
  height: 60px;
  border: none;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  position: fixed
}

.btnhome {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: left;
}

.btnadd {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: right;
}

.btnprofile {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: right;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #cccccc;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 20%;
  height: 42px;
  padding: 10px;
  background: #cccccc;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  background: #cccccc;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}