.myrecipes {
    padding:15px;
    margin-left: 20px;
    margin-top: 5px
}

.big_container {
    margin-left: 20px;
    margin-right: 20px;
}

body { margin:0px; }

.button {
  background-color: peachpuff;
  border-radius: 30px;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  size: 5x;
  margin: 4px 2px;
}

.addmore{
  padding: 35px;
  margin-bottom: 100px;
  margin-left: 100px;
  float: right;
}

.navbar {
  background-color: orange;
  width: 100%;
  height: 60px;
  border: none;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  position: fixed
}

.btnhome {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: left;
}

.btnadd {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: right;
}

.btnprofile {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: right;
}