body {font-family: "Lato", sans-serif;}
body { margin:0px; }


.profiletab {
    padding: 10px;
    height: 10px;
}       

.avatar {;
    float: left;
    margin-top: 15px;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.card {
    background-color: peachpuff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    padding:20px;
    margin: auto;
    text-align: center;
    font-family: "Lato", sans-serif;
  }
  
  .additional {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  .navbar {
    background-color: orange;
    width: 100%;
    height: 60px;
    border: none;
    bottom: 0;
    margin: 0;
    overflow: hidden;
    position: fixed
  }
  
  .btnhome {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: white;
    float: left;
  }
  
  .btnadd {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: white;
    float: right;
  }
  
  .btnprofile {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: white;
    float: right;
  }