.css-selector {
  font-family: 'Karla', serif;
  }

body { margin:0px; }

.btnhelp {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 19px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: orange;
    float: left;
  }

 .btnmsg {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 19px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: orange;
    float: right;
}

  /* On mouse-over */
.btnhelp:hover {background: #eee;}
.btnmsg:hover {background: #eee;}


.block {
  width: 200px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  float: center;
  border: none;
  background-color: peachpuff;
  padding: 30px 30px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.text {
  padding: 20px;
}

.navbar {
  background-color: orange;
  width: 100%;
  height: 60px;
  border: none;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  position: fixed
}

.btnhome {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: left;
}