.css-selector {
  font-family: 'Karla', serif;
  }

.btnhelp {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: orange;
    float: right;
  }

 .btnmsg {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: orange;
    float: left;
}

  /* On mouse-over */
.btnhelp:hover {background: #eee;}
.btnmsg:hover {background: #eee;}

.btn {
  border: none; /* Remove borders */
  width: 60px;
  color: gray; /* Add a text color */
  padding: 40px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
  padding-top: 50px;
  float: center;
}

.myrecipes {background-color: peachpuff;} /* Green */
.myrecipes:hover {background-color: peachpuff;}

