.css-selector {
  font-family: 'Karla', serif;
  }

body { margin:0px; }

.welcome {
  font-size:40px;
  color:gray;
  text-align:center;
  padding-top:80px
}

.btnhelp {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 19px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: orange;
    float: left;
  }

 .btnmsg {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 19px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: orange;
    float: right;
}

  /* On mouse-over */
.btnhelp:hover {background: #eee;}
.btnmsg:hover {background: #eee;}


.block {
  width: 350px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  float: center;
  border: none;
  background-color: peachpuff;
  padding: 30px 30px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.text {
  padding: 30px;
  margin-top: 20;
}

.navbar {
  background-color: orange;
  width: 100%;
  height: 60px;
  border: none;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  position: fixed
}

.btnhome {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: left;
}

.btnadd {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: right;
}

.btnprofile {
  border: none;
  size: 9x;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  color: white;
  float: right;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}
