.btnhelp {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: orange;
    float: right;
  }

 .btnmsg {
    border: none;
    size: 9x;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    color: orange;
    float: left;
}

  /* On mouse-over */
.btnhelp:hover {background: rgb(236, 196, 150);}
.btnmsg:hover {background: rgb(236, 196, 150);}

